---
// Redirect to GitHub repository
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="refresh" content="0;url=https://github.com/t-boris/my-local-events" />
		<title>Redirecting to Events...</title>
	</head>
	<body>
		<p>Redirecting to <a href="https://github.com/t-boris/my-local-events">my-local-events repository</a>...</p>
		<script>
			window.location.href = "https://github.com/t-boris/my-local-events";
		</script>
	</body>
</html>
